/* Import font face */
@font-face {
  font-family: 'LemonMilk';
  font-style: normal;
  src: url("../fonts/LemonMilk.eot");
  src: url("../fonts/LemonMilk.eot?#iefix") format("embedded-opentype"), url("../fonts/LemonMilk.woff2") format("woff2"), url("../fonts/LemonMilk.woff") format("woff"), url("../fonts/LemonMilk.ttf") format("truetype"), url("../fonts/LemonMilk.svg") format("svg"); 
}

@font-face {
  font-family: 'LugosRegular';
  font-style: normal;
  src: url("../fonts/Lugos-Regular.eot");
  src: url("../fonts/Lugos-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lugos-Regular.woff2") format("woff2"), url("../fonts/Lugos-Regular.woff") format("woff"), url("../fonts/Lugos-Regular.ttf") format("truetype"), url("../fonts/Lugos-Regular.svg") format("svg"); 
}