/**
* Filename    : style.css
* Date        : 2018-06-05
* Description : Style file
**/

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: url("../images/bg.png") repeat-y left top;
	background-size: contain;
	background-position: center top;
}

input, a:hover, button:hover {
	transition: all 0.3s;
}
.clear {
	clear: both;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}

/* =================== Add A Site style ================== */
.body1 {
	background-image: url("../images/bg2.png"), url("../images/bg1.png"), url("../images/bg.png");
	background-repeat: no-repeat, no-repeat, repeat-y;
}
.body1 .logo {
	position: fixed;
	top: 35px;
	left: 35px;
	background: url("../images/logo-bg.png") no-repeat left top;
	font-family: "Bell Gothic Std";
	color: white;
	font-size: 1.8vw;
    line-height: 3.4vw;
	background-size: contain;
}
.anim-class {
	-webkit-animation: logo-move 1s linear 0.3s infinite alternate; /* Safari 4.0 - 8.0 */
	animation: logo-move 1s linear 0.3s infinite alternate;
}
.list-appear {
	-webkit-animation: list-in 1.5s linear forwards; /* Safari 4.0 - 8.0 */
	animation: list-in 1.5s linear forwards;
}
.list-disappear {
	-webkit-animation: list-out 1.5s linear forwards; /* Safari 4.0 - 8.0 */
	animation: list-out 1.5s linear forwards;
}
.body1 .logo span {
	font-family: "Bell Gothic Std";
    color: white;
    display: inline-block;
    font-size: 2.2vw;
    padding-left: 0.5vw;
    text-align: center;
    width: 4.6vw;
    padding-right: 1.7vw;
}
.body1 .logo img {
	width: 100%;
	height: 100%;
}
.body1 .add_a_site_wrap {
	width: 42%;
	background: white;
	text-align: center;
	padding: 38px;
	position: fixed;
	top: 32%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}
.body1 .add_a_site_wrap h4 {
	font-family: 'Montserrat';
	font-size: 1.6vw;
	color: #030303;
	font-weight: bold;
}
.body1 .add_a_site_wrap input {
	width: 50%;
}

/* =================== Login & Register style ================== */
.body2 {
	background-image: url("../images/bg1.png"), url("../images/bg.png");
	background-repeat: no-repeat, repeat-y;
}
.body2 .sign_wrap {
	width: 25%;
	background: white;
	text-align: center;
	padding: 40px;
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}
.body2 .sign_wrap h4 {
	font-family: 'Montserrat';
	font-size: 1.6vw;
	color: #030303;
	font-weight: bold;
}
.body2 .sign_wrap input {
	width: 90%;
}
.body2 .logo {
	position: fixed;
	top: 10%;
	left: 45%;
	width: 10%;
}
.body2 .logo img {
	width: 100%;
	height: 100%;
}

/* =================== Dashboard style =================== */
#wrapper {
  width: 100%;
}
#sidebar {
	width: 18.54vw;
	float: left;
	background: white;
	font-family: "Montserrat";
	position: relative;
	z-index: 101;
}
#sidebar .logo {
	width: 7.81vw;
	height: 2.81vw;
	margin: 32px 38px;
}
#sidebar .logo img {
	width: 100%;
	height: auto;
}
#sidebar .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid #e1e1e1;
}
#sidebar ul li {
    border-bottom: 1px solid #e1e1e1;
}
#sidebar ul li a {
	padding: 1.5625vw 1.25vw 1.5625vw 1.5625vw;
	color: #030303;
	font-size: 0.833vw;
	font-weight: bold;
}
#sidebar ul li a:hover, #sidebar ul li a:focus {
	cursor: pointer;
	background: none;
}
#sidebar ul li a.active {
	background: none;
}
#sidebar .nav-second-level li {
	border-bottom: none;
	padding-bottom: 10px;
	padding-left: 20%;
}
#sidebar .nav-second-level li a {
	font-size: 0.73vw;
	font-weight: normal;
	display: inline;
	padding: 0;
	color: #979797;
	font-weight: normal;
}
#sidebar .nav-second-level li a:focus, #sidebar .nav-second-level li a.active, #sidebar .nav-second-level li a:hover {
	background: none;
    color: #010101;
    font-weight: bold;
}
#sidebar .arrow {
    float: right;
    font-size: 1.04vw;
    font-family: "Font Awesome 5 Pro";
    margin-top: 0.42vw;
}
#sidebar .active > a > .fa.arrow:before {
    content: "\f106";
}
#sidebar .fa.arrow:before {
    content: "\f107";
}
#sidebar .fal {
	color: #87c6d1;
	font-size: 1.5625vw;
}
#sidebar .menu-desc {
	display: inline-block;
    margin-top: 3px;
    vertical-align: top;
    margin-left: 3px;
}
#page-wrapper {
	width: calc(100% - 18.54vw);
	padding: 0.78vw 1.56vw;
	float: right;
	font-family: "Montserrat";
	margin-top: 3.1vw;
}
.page-header {
	margin: 0;
	border-bottom: none;
	position: fixed;
	top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	background: url('../images/bg.png') repeat-y left top;
	background-size: contain;
	z-index: 99;
	height: 3.1vw;
}
.page-header .col-md-6 {
	padding: 0;
}

.page-header .input-group .form-control {
	width: 60%;
	font-size: 0.73vw;
	height: 1.82vw;
}
.page-header .form-control {
	height: auto;
	padding: 5px 12px;
	color: #010101;
	font-weight: bold;
}
.page-header .input-group .input-group-addon {
	padding: 5px 12px;
	height: 1.82vw;
	font-size: 1vw;
}
/* changed */
.page-header .top_link {
	display: inline-block;
	padding-left: 8px;
	padding-right: 10px;
}
/* changed end */
.page-header .top_link1 {
	padding-right: 10px;
}
.page-header .page-report {
	color: white;
	padding-top: 3px !important;
	color: #dee5f2;
	font-size: 0.73vw;
	padding-right: 1.56vw;
}
.page-header .page-report .fal {
	font-size: 1.5vw;
	display: inline-block;
	vertical-align: sub;
}
.page-header .page-report .issue-count {
	display: inline-block;
    min-width: 10px;
    padding: 2px 7px;
    font-weight: 700;
    line-height: 1.2;
    color: #c50903;
    text-align: center;
    white-space: nowrap;
    vertical-align: text-bottom;
    background-color: white;
    border-radius: 10px;
}
#page-wrapper .page-content {
	margin-top: 7px;
	font-family: "Montserrat";
}
#page-wrapper .page-content .breadcrumb {
	padding: 0;
	background: none;
	color: white;
	font-size: 1.04vw;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
#page-wrapper .page-content .breadcrumb span {
	font-size: 0.83vw;
}
#page-wrapper .page-content .breadcrumb a {
	color: white;
}
#page-wrapper .page-content .breadcrumb .fal {
	padding-left: 10px;
	padding-right: 10px;
}
#page-wrapper .page-content .breadcrumb .fa-plus-circle {
	padding-right: 0;
}
#page-wrapper .page-content .site-box {
	background: white;
	padding: 0.76vw 0.5vw 1vw 2.08vw;
	margin-bottom: 20px;
}
#page-wrapper .page-content .site-box h5 {
	margin-top: 10px;
	margin-bottom: 4px;
	font-weight: bold;
}
#page-wrapper .page-content .site-box h5 a {
	font-size: 0.9375vw;
	color: #030303;
}
#page-wrapper .page-content .site-box .box-link {
	color: #979797;
	font-size: 0.73vw;
}
#page-wrapper .page-content .box-btn {
	background: #5c6bc0;
	border: 1px solid #5c6bc0;
	color: white;
	font-size: 0.73vw;
	padding: 5px 10px 5px 18px;
	font-weight: bold;
	display: inline-block;
	margin-top: 15px;
}
#page-wrapper .page-content .box-btn span.arrow {
	display: inline-block;
	margin-left: 15px;
	font-family: 'Font Awesome 5 Pro';
}
#page-wrapper .page-content .box-btn span.arrow:before {
	content: "\f105";
}

#page-wrapper .page-content .expand-btn.collapsed {
	background: #5c6bc0;
	border: 1px solid #5c6bc0;
	color: white;
	font-size: 0.73vw;
	padding: 5px 10px 5px 18px;
	font-weight: bold;
	display: inline-block;
	margin-top: 15px;
}
#page-wrapper .page-content .expand-btn.collapsed span.arrow {
	display: inline-block;
	margin-left: 15px;
	font-family: 'Font Awesome 5 Pro';
}
#page-wrapper .page-content .expand-btn.collapsed span.arrow:before {
	content: "\f107";
}
#page-wrapper .page-content .site-box .col-sm-3 {
	border-left: 1px solid #e1e1e1;
	padding: 1.56vw 0 1.56vw 1.56vw;
}

#page-wrapper .spelling, #page-wrapper .grammar, #page-wrapper .broken-links, #page-wrapper .broken-images {
	float: left;
	line-height: 1.1;
	font-family: 'Font Awesome 5 Pro';
	color: #c8c8c8;
	font-size: 2.08vw;
	font-weight: 300;
	margin-right: 0.5vw;
}
#page-wrapper .spelling {
	font-size: 2.5vw;
	line-height: 1;
}
#page-wrapper .item {
	float: left;
	line-height: 1.15;
	margin-top: 0.208vw;
}
#page-wrapper .item a {
	font-size: 0.73vw;
	color: #000;
	font-weight: normal;
}
#page-wrapper .item-count {
	font-size: 1.04vw;
	color: #c50903;
	display: block;
	font-weight: bold;
}
#page-wrapper .item-desc {
	font-size: 0.73vw;
	color: #000;
	display: block;
	font-weight: normal;
}
#page-wrapper .sub-topmenu .col-md-3 {
	padding: 0 0.599vw 1.198vw 0.599vw;
}
#page-wrapper .sub-topmenu .col-md-3:first-child {
	padding-left: 0;
}
#page-wrapper .sub-topmenu .col-md-3:last-child {
	padding-right: 0;
}
#page-wrapper .sub-topmenu .col-md-3 .menuitem {
	background: white;
	float: none;
	padding: 1.666vw 2.345vw;
}
#page-wrapper .sub-topmenu .col-md-3 .menuitem .item-desc a.active, 
#page-wrapper .sub-topmenu .col-md-3 .menuitem .item-desc a:focus {
	text-decoration: underline;
}
#page-wrapper .site-box p {
	color: #979797;
	font-size: 0.73vw;
	margin: 0;
	margin-top: 10px;
}
#page-wrapper .page-content h5 {
	margin-top: 6px;
	font-size: 0.9375vw;
	font-weight: bold;
}
#page-wrapper .page-content h5 span.imp {
	color: #c50903;
}
#page-wrapper .page-content h5 span.result {
	color: #979797;
	font-size: 0.73vw;
}
#page-wrapper .page-content h5 span.status {
	color: #000;
	font-size: 0.833vw;
	font-weight: normal;
}
#page-wrapper .page-content .site-box h5 i {
	color: #c8c8c8;
}
#page-wrapper .page-content .expand-btn {
	background: white;
	border: 1px solid #5c6bc0;
	color: #5c6bc0;
	font-size: 0.73vw;
	padding: 5px 10px 5px 18px;
	font-weight: bold;
	display: inline-block;
	margin-top: 15px;
}
#page-wrapper .page-content .expand-btn span.arrow {
	display: inline-block;
	margin-left: 16px;
}
#page-wrapper .page-content .expand-btn span.arrow:before {
	content: "\00d7";
}
#page-wrapper .page-content .link-btn {
	background: #ebebeb;
	border: none;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000;
	font-size: 0.73vw;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 8px;
	width: 6.77vw;
	font-weight: bold;
}
#page-wrapper .page-content .fix-btn {
	background: #78c05c;
	border: none;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FFF;
	font-size: 0.73vw;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 8px;
	width: 6.77vw;
	font-weight: bold;
}
#page-wrapper .page-content .fix-btn .fa-fix {
	background: url("../images/fix-btn.png") no-repeat left top;
	width:  1.041vw;
	height: 1.09375vw;
	background-size: contain;
	vertical-align: top;
}
#page-wrapper .page-content .fix-btn .fa-fix:before {
	content: '';
}
#page-wrapper .page-content button {
	opacity: 1;
	transition: opacity 0.6s ease-in-out;
}
#page-wrapper .page-content button:hover {
	opacity: 0.88;
	transition: opacity 0.6s ease-in-out;
}
#page-wrapper .page-content .item-content {
	border-top: 1px solid #ebebeb;
	margin-top: 20px;
	padding-top: 5px;
}
#page-wrapper .page-content .item-content .col-sm-6 {
	padding-left: 0;
}
#page-wrapper .page-content .item-content p {
	text-align: justify;
	padding-right: 15px;
	line-height: 1.5;
}
#page-wrapper .page-content .custom-site-box {
	padding-right: 2.08vw;
}

/* added */
#page-wrapper .page-content .modal-content {
	border-radius: 0;
}

/* 2018-06-19 */
#page-wrapper .page-content .modal-dialog.custom-size {
	width: 24.2vw;
	text-align: center;
	margin-top: 15%;
}
/* ============= 2018-06-19 ==============*/

#page-wrapper .page-content .modal-content p {
	color: #979797;
    font-size: 0.73vw;
    margin: 0;
    margin-top: 10px;
}
#page-wrapper .page-content .modal-body {
	padding: 0.78vw;
}
#page-wrapper .page-content .modal-content label {
	font-size: 0.73vw;
	line-height: 1.2;
}
#page-wrapper .page-content .modal-content label input {
	margin-top: 0vw;
}
#page-wrapper .page-content .modal-header {
	padding: 1.04vw;
	border-bottom: 1px solid #dbdbdb;
}
#page-wrapper .page-content .modal-footer {
	padding: 1.04vw;
	padding-left: 0;
	padding-right: 0;
	border: none;
	text-align: center;
}
#page-wrapper .page-content .modal-footer .cancel-btn {
	background: #ebebeb;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
    font-size: 0.73vw;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 8px;
    width: 6.77vw;
    font-weight: bold;
}
#page-wrapper .page-content .modal-footer .correct-btn {
	background: #78c05c;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFF;
    font-size: 0.73vw;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 8px;
    width: 6.77vw;
    font-weight: bold;
}
#page-wrapper .page-content .setting-link {
	font-size: 0.833vw;
}
#page-wrapper .page-content .breadcrumb .col-md-6 {
	padding: 0;
}
#page-wrapper .page-content .item-list .col-md-4 {
	padding: 5px;
}
#page-wrapper .page-content .item-list .col-md-4 {
	position: relative;
	overflow: hidden;
}
#page-wrapper .page-content .item-list .col-md-4:nth-child(3n-2) {
	padding-left: 15px;
	clear: both;
}
#page-wrapper .page-content .item-list .col-md-4:nth-child(3n) {
	padding-right: 15px;
}
#page-wrapper .page-content .item-list .list-wrap {
	background: white;
	padding: 1.82vw 2.34vw;
}
#page-wrapper .page-content .item-list .list-wrap.edit-item {
	position: absolute;
	top: 5px;
	left: -100%;
}
#page-wrapper .page-content .item-list .list-wrap .setting-header {
	font-size: 0.833vw;
	color: #979797;
	padding-bottom: 10px;
	border-bottom: 1px solid #e1e1e1;
}
#page-wrapper .page-content .item-list .list-wrap .setting-header span {
	color: #c50903;
	font-weight: bold;
}
#page-wrapper .page-content .item-list .list-wrap .setting-header span.photo {
	border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
#page-wrapper .page-content .item-list .setting-content {
	margin-top: 25px;
	margin-bottom: 25px;
}
#page-wrapper .page-content .item-list .setting-content h4, #page-wrapper .page-content .item-list .setting-content h6 {
	font-weight: bold;
	color: #000;
}
#page-wrapper .page-content .item-list .setting-content h4 {
	font-size: 1.3vw;
	margin: 0;
}
#page-wrapper .page-content .item-list .setting-content h6 {
	font-size: 1.04vw;
}

#page-wrapper .page-content .item-list .setting-content span {
	font-size: 0.729vw;
	color: #000;
}
#page-wrapper .page-content .item-list .setting-content span span {
	color: #c50903;
	font-weight: bold;
}
#page-wrapper .page-content .item-list .setting-content .fal {
	margin-left: 7px;
}
#page-wrapper .page-content .item-list .setting-btn .fal {
	font-size: 0.9vw;
}
#page-wrapper .page-content .item-list .setting-btn .edit-btn {
	background: #5c6bc0;
    border: none;
    padding: 5px 18px;
    color: #FFF;
    font-size: 0.75vw;
    display: inline-block;
    font-weight: bold;
}
#page-wrapper .page-content .item-list .setting-btn .save-btn {
	background: #78c05c;
    border: none;
    padding: 5px 18px;
    color: #FFF;
    font-size: 0.75vw;
    display: inline-block;
    font-weight: bold;
}
#page-wrapper .page-content .item-list .setting-btn .delete-btn {
	background: #c50903;
    border: none;
    padding: 5px 18px;
    color: #FFF;
    font-size: 0.75vw;
    display: inline-block;
    font-weight: bold;
}

/* animation */
@-webkit-keyframes logo-move {
    0%   {left:35px;}
    25%  {left:85px;}
    50%  {left:135px;}
    75%  {left:85px;}
    100% {left:35px;}
}
@keyframes logo-move {
    0%   {left:35px;}
    25%  {left:85px;}
    50%  {left:135px;}
    75%  {left:85px;}
    100% {left:35px;}
}
@-webkit-keyframes list-in {
    0%   {left:-100%;}
    20%  {left:-70%;}
    40%  {left:-40%;}
    60%  {left:-10%;}
    80%  {left:10%;}
    100% {left:15px;}
}
@keyframes list-in {
    0%   {left:-100%;}
    20%  {left:-70%;}
    40%  {left:-40%;}
    60%  {left:-10%;}
    80%  {left:10%;}
    100% {left:15px;}
}
@-webkit-keyframes list-out {
    0%   {left:15px;}
    20%  {left:10%;}
    40%  {left:-10%;}
    60%  {left:-40%;}
    80%  {left:-70%;}
    100% {left:-100%;}
}
@keyframes list-out {
    0%   {left:15px;}
    20%  {left:10%;}
    40%  {left:-10%;}
    60%  {left:-40%;}
    80%  {left:-70%;}
    100% {left:-100%;}
}


/* new added */
.page-header .page-report a, .page-header .page-report a:hover {
	text-decoration: none;
}
.page-header .page-report ul, .page-header .page-report ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.page-header .page-report > ul > li {
	position: relative;
	display: inline-block;
	padding-left: 15px;
	padding-bottom: 10px;
}

.page-header .page-report ul li .u-menu {
	position: absolute;
	width: 9.48vw;
	left: 15px;
	top: 100%;
	border: 1px solid #e1e1e1;
	visibility: hidden; /* hides sub-menu */
  	opacity: 0;
  	transform: translateY(-2em);
  	z-index: -1;
  	transition: all 0.6s ease-in-out 0s, visibility 0s linear 0.6s, z-index 0s linear 0.01s;
}

.page-header .page-report ul li .fal {
	font-size: 1.04vw;
	padding-right: 3px;
}
.page-header .page-report ul li .u-menu, .page-header .page-report ul li .u-menu li {
	margin: 0;
	padding: 0;
	background: white;
	text-align: left;
}
.page-header .page-report ul li .u-menu li {
	border-top: 1px solid #e2e2e2;
}
.page-header .page-report ul li .u-menu li a {
	color: #979797;
	display: block;
	padding-top: 13px;
	padding-left: 13px;
	padding-bottom: 13px;
}
.page-header .page-report ul li .u-menu li a:hover {
	color: #000;
}
.page-header .page-report ul li .u-menu li a i {
	color: #5cb1c0;
}
.page-header .page-report ul li .u-menu li:first-child {
	border-top: none;
}
.page-header .page-report a span {
	color: white;
}
.page-header .page-report ul li:focus .u-menu,
.page-header .page-report ul li:focus-within .u-menu,
.page-header .page-report ul li:hover .u-menu {
	visibility: visible;
	opacity: 1;
	z-index: 100;
  	transform: translateY(0%);
  	transition-delay: 0s, 0s, 0.2s;
}
.page-header .page-report ul li .issue-menu {
	left: auto;
	right: 0;
	width: 13.02vw;
}
.page-header .page-report ul li .issue-menu li a {
	color: #000;
}
.page-header .page-report ul li .issue-menu li a:hover {
	color: #000;
}
.page-header .page-report ul li .issue-menu li a span {
	color: #979797;
}
.page-header .page-report ul li .issue-menu li a:hover span {
	color: #979797;
}
.page-header .page-report ul li .issue-menu li a i.fa-exclamation-circle {
	color: #c50903;
}


/* new added 2018-06-19 */
.body3, .body4 {
	background-image: url("../images/bg3.png"), url("../images/bg.png");
	background-repeat: no-repeat, no-repeat, repeat-y;
	font-family: "Montserrat";
}
.body3 .logo {
	position: fixed;
	top: 35px;
	left: 35px;
	background: url("../images/logo-bg.png") no-repeat left top;
	font-family: "Bell Gothic Std";
	color: white;
	font-size: 1.8vw;
    line-height: 3.4vw;
	background-size: contain;
}
.body3 .logo span {
	font-family: "Bell Gothic Std";
    color: white;
    display: inline-block;
    font-size: 2.2vw;
    padding-left: 0.5vw;
    text-align: center;
    width: 4.6vw;
    padding-right: 1.7vw;
}
.body3 .logo img {
	width: 100%;
	height: 100%;
}
.body3 .add_a_site_wrap, .body4 .add_a_site_wrap {
	width: 46%;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}
.body3 .add_a_site_wrap h4, .body4 .add_a_site_wrap h4 {
	font-family: 'Montserrat';
	font-size: 1.5625vw;
	color: #010101;
	font-weight: bold;
}
.body3 .add_a_site_wrap input {
	width: 50%;
}
.body3 .see-full {
	color: #5c6bc0;
	font-size: 0.73vw;
	text-decoration: underline;
	cursor: pointer;
	letter-spacing: 0.01em;
}
.body3 .col-md-4 {
	padding: 0;
}
.body3 .mem-item {
	background: white;
	padding-top: 1.823vw;
	padding-bottom: 2.3vw;
	margin: 0.52vw;
	text-align: center;
}
.body3 .mem-item h5 {
	font-size: 1.04vw;
	color: #5c6bc0;
	font-weight: bold;
}
.body3 .mem-item h3 {
	font-size: 2.08vw;
	color: #000000;
	font-weight: bold;
	margin-top: 0.2vw;
	margin-bottom: 1vw;
}
.body3 .mem-item p {
	font-size: 0.833vw;
	color: #000;
	padding: 0;
	margin: 0;
}
.body3 .mem-item p span {
	color: #c50903;
	font-weight: bold;
}
.body3 p.last {
	margin-bottom: 0.9vw;
}
.body3 .mem-item .line {
	width: 4.16vw;
	display: inline-block;
	border-top: 1px solid #e1e1e1;
	margin-top: 0.93vw;
	height: 1vw;
}
.body3 .mem-item [type="radio"]:checked, 
.body3 .mem-item [type="radio"]:not(:checked),
.body4 [type="radio"]:checked, 
.body4 [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.body3 .mem-item [type="radio"]:checked + label,
.body3 .mem-item [type="radio"]:not(:checked) + label,
.body4 [type="radio"]:checked + label,
.body4 [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.body3 .mem-item [type="radio"]:checked + label:before,
.body3 .mem-item [type="radio"]:not(:checked) + label:before,
.body4 [type="radio"]:checked + label:before,
.body4 [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    border: 1px solid #dadada;
    border-radius: 100%;
    background: #fff;
}
.body3 .mem-item [type="radio"]:not(:checked) + label:after,
.body4 [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 13px;
    height: 13px;
    background: #dadada;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.body3 .mem-item [type="radio"]:checked + label:after,
.body4 [type="radio"]:checked + label:after {
    content: '';
    width: 13px;
    height: 13px;
    background: #5c6bc0;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.body3 .mem-item [type="radio"]:checked + label:after,
.body4 [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.body3 button, .body4 button {
	opacity: 1;
	-webkit-transition: opacity 0.6s ease-in-out;
	-moz-transition: opacity 0.6s ease-in-out;
	transition: opacity 0.6s ease-in-out;
	background: #5c6bc0;
    border: none;
    color: white;
    font-size: 0.833vw;
    padding-top: 0.52vw;
    padding-bottom: 0.52vw;
    width: 12.5vw;
    text-align: center;
}
.body3 button:hover, .body4 button:hover {
	opacity: 0.88;
	transition: opacity 0.6s ease-in-out;
	font-size: 0.833vw;
	background: #5c6bc0;
    border: none;
    color: white;
    padding-top: 0.52vw;
    padding-bottom: 0.52vw;
}
.body3 .row {
	padding-top: 1.83vw;
	padding-bottom: 2.5vw;
}

.body4 .add_a_site_wrap {
	background: white;
	width: 27%;
	padding: 1.875vw 3.5vw;
	padding-right: 3.0vw;
	transform: translate(-50%, 0%);
	top: 23.5%;
}
.body4 .add_a_site_wrap .col-md-6 {
	padding: 0;
	text-align: left;
}
.body4 [type="radio"]:checked + label:before, 
.body4 [type="radio"]:not(:checked) + label:before {
	width: 20px;
    height: 20px;
}
.body4 [type="radio"]:not(:checked) + label:after,
.body4 [type="radio"]:checked + label:after {
	width: 12px;
    height: 12px;
    top: 4px;
    left: 4px;
}
.body4 [type="radio"]:checked + label, 
.body4 [type="radio"]:not(:checked) + label {
	font-size: 0.833vw;
	color: #000;
}
.body4 .add_a_site_wrap h4 {
	margin-top: 0;
	margin-bottom: 1.7vw;
}
.body4 .add_a_site_wrap .pay-item {
	text-align: left;
	font-size: 0.729vw;
	color: #000;
	padding: 1vw 0;
	border-top: 1px solid #e1e1e1;
}
.body4 .add_a_site_wrap .pay-item.no-boder {
	border-top: none;
}
.body4 .add_a_site_wrap .pay-item img {
	float: left;
	margin-top: 4px;
}
.body4 .add_a_site_wrap .pay-item span {
	float: left;
	font-size: 0.729vw;
	margin-left: 13px;
	margin-top: 8px;
}
.body4 button {
	width: auto;
	padding-left: 2.08vw;
	padding-right: 2.08vw;
}
.body4 button.processed {
	margin-top: 1.35vw;
	margin-bottom: 1.35vw;
	display: inline-block;
}
.body4 .add_a_site_wrap #payment_item a.view_all {
	text-decoration: underline;
	color: #5c6bc0;
	font-size: 0.729vw;
	cursor: pointer;
	opacity: 1;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
.body4 .add_a_site_wrap #payment_item a.view_all:hover {
	opacity: 0.85;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
.body4 .add_a_site_wrap .set_default {
	background: white;
	border: 1px solid #e1e1e1;
	text-decoration: none;
	font-size: 0.625vw;
	color: #000;
	width: 6.458vw;
	text-align: center;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	float: left;
	cursor: pointer;
	border-radius: 20px;
	margin-left: 0.8vw;
	margin-right: 0.8vw;
}
.body4 .add_a_site_wrap .set_default:hover, .body4 .add_a_site_wrap .set_default.sel {
	background: #ebebeb;
	text-decoration: none;
}
.body4 .add_a_site_wrap .remove_pay {
	cursor: pointer;
	text-decoration: none;
	float: left;
	margin-top: 8px;
}
.body4 .add_a_site_wrap .remove_pay:hover {
	text-decoration: none;
}
.body4 .add_a_site_wrap .remove_pay i {
	font-size: 1.04vw;
	color: #c50903;
}
.body4 #invoice_item {
	display: none;
}
.body4 #page-wrapper .page-content .modal-dialog.custom-size2 {
	width: 50%;
	margin-left: 30%;
	text-align: center;
	margin-top: 15%;
}
.body4 #page-wrapper .page-content .custom-size2 .modal-header {
	border: none;
}
.custom-size2 .modal-body, .custom-size2 .modal-header, .custom-size2 .modal-footer {
	width: 50%;
	margin: 0 auto;
}
.custom-size2 h4 {
	font-size: 1.04vw;
	font-weight: bold;
	color: #030303;
}
#page-wrapper .page-content .breadcrumb .fa-angle-left {
	padding-left: 0;
	padding-right: 7px;
	font-size: 1.04vw;
	vertical-align: middle;
}
.per_header, .per_body {
	background: white;
	padding: 1.04vw 1.6vw;
	margin-bottom: 17px;
	font-size: 16px;
	color: #979797;
	vertical-align: middle;
}
.per_header .per_l {
	float: left;
	padding-right: 14px;
	padding-top: 0.57vw;
}
.per_header .per_r {
	float: left;
}
.per_header .per_r a {
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	width: 43px;
	height: 43px; /* 2.34vw */
	border-radius: 50%;
	overflow: hidden;
	margin-right: 12px;
	margin-left: 3px;
	position: relative;
}
.per_header .per_r a:hover:after {
	content: ' ';
    background: RGBA(0, 0, 0, 0.4);
    position: absolute;
    width: 88%;
    height: 88%;
    left: 6%;
    top: 6%;
    border: 2px dashed white;
    border-radius: 50%;
    z-index: 999;
}
.per_header .per_r a:hover img {
	opacity: 0.8;
}
.per_header .per_r a img {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 99;
}
.grey-tooltip + .tooltip > .tooltip-inner {
	background-color: #f7f7f7; 
	border: 1px solid #e3e3e3; 
	color: #979797; 
	padding: 8px 30px;
	border-radius: 10px 10px 10px 0;
	margin-left: 50%;
	width: 100%;
}
.grey-tooltip + .tooltip > .tooltip-arrow { 
	border-left: 17px solid #e3e3e3;
    border-right: 7px solid transparent;
    border-bottom: 8px solid transparent;
    border-top: 4px solid #e3e3e3;
    left: calc(50% + 5px) !important;
    bottom: -7px;
}
.grey-tooltip + .tooltip > .tooltip-arrow:after {
	content: '';
	border-left: 16px solid #f7f7f7;
    border-right: 6px solid transparent;
    border-bottom: 8px solid transparent;
    border-top: 4px solid #f7f7f7;
    position: absolute;
    margin-left: -16px;
    margin-top: -5px;
}
.tooltip.top {
    margin-top: -13px;
}
.tooltip.in {
	opacity: 1;
}
.per_body ul, .per_body li {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
}
.per_body li .col-md-4 {
	padding-left: 10px;
	padding-right: 0px;
}
.per_body li .col-md-3, .per_body li .col-md-5 {
	padding-right: 0;
}
.per_body li {
	border-bottom: 1px solid #e1e1e1;
	padding-top: 10px;
	padding-bottom: 10px;
}
.per_body li.header {
	padding-bottom: 20px;
}

.per_body li a, .per_body li a:hover {
	text-decoration: none;
	cursor: pointer;
} 
.per_body li a strong {
	font-size: 20px;
	font-weight: bold;
	color: #000;
	float: left;
    margin-top: 8px;
}
.per_body a.per-ico {
	display: inline-block;
	width: 43px;
	height: 43px; /* 2.34vw */
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin-right: 12px;
}
.per_body a.per-ico img {
	width: 100%;
	height: auto;
}
.per_body .col-md-3 a.per-ico {
	opacity: 1;
	-moz-transition: opacity .6s ease-in-out;
	-webkit-transition: opacity .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	transition: opacity .6s ease-in-out;
}
.per_body .col-md-3 a.per-ico:hover {
	opacity: 0.9;
	-moz-transition: opacity .6s ease-in-out;
	-webkit-transition: opacity .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	transition: opacity .6s ease-in-out;
}
.per_body .col-md-5 a.per-ico:after {
	opacity: 0.4;
}
.per_body .col-md-5 a.per-ico:hover:after {
	content: "\f00d";
    background: RGBA(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 1;
    color: white;
    font-family: "Font Awesome 5 Pro";
    line-height: 42px;
    text-align: center;
    font-size: 22px;
    border-radius: 50%;
    z-index: 999;
}

/** NEW ADDED **/
#searchForm {
	position: fixed;
    top: 10px;
    /* left: 20vw; */
    width: 20vw;
    z-index: 100;
}
#searchForm .input-group .form-control {
	width: 100%;
	font-size: 0.73vw;
	height: 1.82vw;
}
#searchForm .input-group-addon {
	background: #5c6bc0;
	color: white;
	border: none;
}
#searchForm .form-control {
    height: auto;
    padding: 5px 12px;
    color: #010101;
    font-weight: bold;
}
/** NEW ADDED **/

@media (max-width: 992px) {
  #sidebar {
  	width: 230px;
  }
  #sidebar .logo {
  	width: 120px;
  	height: 43px;
  }
  #sidebar ul li a {
  	font-size: 12px;
  	padding: 15px 20px;
  }
  #sidebar .fal {
  	font-size: 15px;
  }
  #sidebar .arrow {
    font-size: 13px;
    margin-top: 3px;
  }
  #sidebar .nav-second-level li a {
  	font-size: 10px;
  }
  #page-wrapper {
  	width: calc(100% - 230px);
  	padding: 12px 15px;
  }
  #page-wrapper .page-content {
  	margin-top: 0;
  }
  .page-header .input-group .form-control {
  	font-size: 12px;
  	height: 28px;
  }
  .page-header .input-group .input-group-addon {
	height: 28px;
	font-size: 14px;
  }
  .page-header .col-md-6 {
  	width: 50%;
  	float: left;
  }
  .page-header .input-group .form-control {
  	width: 90%;
  }
  .page-header .page-report {
  	font-size: 11px;
  }
  .page-header .page-report .fal {
  	font-size: 16px;
  }
  #page-wrapper .page-content .breadcrumb {
  	font-size: 15px;
  }
  #page-wrapper .page-content .col-md-4 {
  	width: 33.3333333%;
  	float: left;
  }
  #page-wrapper .page-content .col-md-8 {
  	width: 66.6666666%;
  	float: left;
  }
  #page-wrapper .page-content .site-box h5 {
  	margin-bottom: 0;
  }
  #page-wrapper .page-content .site-box .box-link {
  	font-size: 10px;
  }
  #page-wrapper .page-content .box-btn {
  	margin-top: 10px;
  	font-size: 10px;
    padding: 4px 10px;
  }
  #page-wrapper .page-content .box-btn span.arrow {
  	margin-left: 10px;
  }
  #page-wrapper .page-content .site-box h5 a {
  	font-size: 12px;
  }
  .page-header .page-report .issue-count {
  	font-size: 10px;
  }
  #sidebar .menu-desc {
  	margin-top: 0;
  }
  #page-wrapper .page-content .breadcrumb span {
  	font-size: 12px;
  }
  #page-wrapper .sub-topmenu .col-md-3 {
  	width: 25%;
  	float: left;
  }
  #page-wrapper .page-content .site-box .col-md-10 {
  	width: 83.33333333%;
  	float: left;
  }
  #page-wrapper .page-content .site-box .col-md-2 {
  	width: 16.66666667%;
  	float: left;
  }
  #page-wrapper .item a {
  	font-size: 8px;
  }
  #page-wrapper .spelling {
  	width: 16px;
  	height: 18px;
  	margin-right: 3px;
  }
  #page-wrapper .grammar {
  	width: 18px;
  	height: 16px;
  	margin-right: 3px;
  }
  #page-wrapper .broken-links {
  	margin-right: 5px;
  }
  #page-wrapper .broken-images {
  	width: 18px;
    height: 19px;
  	margin-right: 5px;
  }
  #page-wrapper .item-count {
  	font-size: 9px;
  }
  #page-wrapper .page-content .link-btn {
  	font-size: 10px;
  	width: 95%;
  }
    #page-wrapper .page-content .fix-btn {
  	font-size: 10px;
  	width: 95%;
  	margin: 0;
  	margin-bottom: 10px;
  }
  #page-wrapper .page-content .fix-btn .fa-fix {
  	width: 11px;
    height: 13px;
  }
  #page-wrapper .page-content .modal-footer .cancel-btn {
  	font-size: 10px;
  }
  #page-wrapper .page-content .modal-footer .correct-btn {
  	font-size: 10px;
  }
  #page-wrapper .page-content .site-box .col-md-10 h5 {
  	font-size: 11px;
  }
  #page-wrapper .page-content .site-box .col-md-10 h5 span.result, #page-wrapper .site-box p {
  	font-size: 8px;
  }
  #page-wrapper .page-content .site-box .col-md-10 h5 span.status {
  	font-size: 9px;
  }
  #page-wrapper .page-content .expand-btn, #page-wrapper .page-content .expand-btn.collapsed {
  	font-size: 9px;
  }

  /* new added */
  .body3 .col-md-4 {
  	float: left;
  	width: 33.33333%;
  }
  .body3 .add_a_site_wrap h4 {
  	font-size: 20px;
  }
  .body3 .row {
    padding-top: 16px;
    padding-bottom: 20px;
  }
  .body3 .mem-item h5 {
  	font-size: 16px;
  }
  .body3 .mem-item .line {
  	width: 60px;
  	margin-top: 5px;
  }
  .body3 .mem-item h3 {
  	font-size: 24px;
  }
  .body3 p.last {
    margin-bottom: 0.2vw;
  }
  .body3 .mem-item {
    padding-top: 11px;
    padding-bottom: 24px;
    margin: 5px;
  }
  .body3 .mem-item p {
    font-size: 11px;
  }
  .body3 button, .body4 button {
  	font-size: 11px;
  	padding-top: 6px;
    padding-bottom: 6px;
  }
  .body3 .see-full {
  	font-size: 11px;
  }
  .body4 .add_a_site_wrap {
  	width: 35%;
  }
  .body4 .add_a_site_wrap #payment_item a.view_all, .body4 .add_a_site_wrap .pay-item span {
  	font-size: 11px;
  }
  [type="radio"]:checked + label, .[type="radio"]:not(:checked) + label {
  	font-size: 12px;
  }
  .body4 .add_a_site_wrap .col-md-6 {
  	float: left;
  	width: 50%;
  }
}
@media (max-width: 768px) {
  .page-header .col-md-6 {
  	width: 100%;
  	float: none;
  }
  #page-wrapper .page-content .col-md-4 {
  	width: 100%;
  	float: none;
  }
  #page-wrapper .page-content .col-md-8 {
  	width: 100%;
  	float: none;
  }
  #sidebar {
  	width: 100%;
  }
  #page-wrapper {
    width: 100%;
  }

  /* new added */
  .body3 .col-md-4 {
  	float: none;
  	width: 100%;
  	margin-bottom: 15px;
  }
  .body3 .add_a_site_wrap {
  	width: 55%;
  	text-align: center;
  	position: static;
  	margin: 0 auto;
  	transform: none;
  	margin-bottom: 20px;
  }
  .body4 .add_a_site_wrap .col-md-6 {
  	float: none;
  	width: 100%;
  }

}