/**
* Filename    : style.css
* Date        : 2018-06-05
* Description : Style file
**/

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-size: contain;
	background-position: center top;
}

input, a:hover, button:hover {
	transition: all 0.3s;
}
.clear {
	clear: both;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.logo {
	padding: 15px 0;
}
.logo img {
}


@media (max-width: 992px) {
}
@media (max-width: 768px) {
}